html {
    background-color: black;
    color: white;
    text-align: center;
}
button {
    background-color: black;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 20px;
}
input {
    background-color: black;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 20px;
    object-position: center bottom;
}